* {
    margin: 0;
}

body {
    font-family: "DM serie", Verdana;
    /* vh = 100% de la taille de l'ecran (viewport height) */
    background: url(../assets/images/crayon\ fond.jpg) center/cover;
    min-height: 100vh;
}

nav {
    height: 50px;
    background-color: rgb(95, 95, 95);
    width: 100%;
    margin: 0;
    border-radius: 0 0 20px 20px;
}

.raccourcis {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    gap: 30px;
    margin-left: 35px;
}

.NomHaut {
    text-align: right;
    margin-right: 35px;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}